<ion-header>
  <ion-toolbar>
    <ion-title>GitHub Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="viewUserProfile(user.login)">
      <ion-avatar slot="start">
        <img [src]="user.avatar_url" />
      </ion-avatar>
      <ion-label>{{ user.login }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadUsers($event)"
    [disabled]="!hasMoreUsers"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading next users..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
